<!DOCTYPE html>
<html lang="en">

<body>

    <nav class="navbar navbar-dark bg-dark">

        <button onClick="history.back()">
            Regresar
        </button>

        <h1>
            Lista de quejas 
        </h1>
        
    </nav>

    <section class="movimientos">

        <form action="/quejas" method="POST">
            <button class="btn btn-success btn-block" type="submit">
                Actualizar
            </button>
        </form>
        
            <table class="table table-hover">

                <thead>
                    <tr class="table-info">
                        <th scope="col">
                            Fecha
                        </th>
                        <th scope="col">
                            Comercio
                        </th>
                        <th scope="col">
                            Tipo
                        </th>
                        <th scope="col">
                            Region
                        </th>
                        <th scope="col">
                            Departamento
                        </th>
                        <th scope="col">
                            Municipio
                        </th>
                    </tr>
                </thead>
                {{#each validar}}
                    <tbody>
                        <tr class="table-primary">
                            <th>
                                {{date}}
                            </th>
                            <td>
                                {{Comercio}}
                            </td>
                            <td>
                                {{tipo}}
                            </td>
                            <td>
                                {{Region}}
                            </td>
                            <td>
                                {{Departamento}}
                            </td>
                            <td>
                                {{Municipio}}
                            </td>
                        </tr>
                    </tbody>
                {{/each}}

            </table>

        

    </section>


    
</body>
</html>